---
title: 呃...找不到了...
---
{% include header %}
<p>
<div class="container">

      <div class="row">
        <div class="col-md-8">
	  <script type="text/javascript" src="http://www.qq.com/404/search_children.js" charset="utf-8"></script>
	</div>
      </div>
</div>
</p>

{% include pass %}
<!-- 补丁 -->
<div class="well">
</div><!-- /补丁 -->
{% include newest_post %}
{% include cate_arch %}
{% include tag_cloud %}
{% include weibo %}
{% include newest_comment %}
{% include friend_link %}
{% include footer %}
