html { background-color: #F2F2F2; }
body,p { font-family: Noto Sans, helvetica neue, helvetica, 微軟正黑體, sans-serif; font-size: 22px;}
p { line-height: 1.4;}
a { text-decoration: none; }
p a { color: #fffc4d; border-bottom: 1px dotted #FFFC4D;}
h1 { font-size: 36px; padding: 8px 0 16px 3px; }
h2 { font-size: 30px; padding-bottom: 16px;}
h3 { font-size: 26px; padding: 16px 0;}
hr { border: 0;height: 1px;background: #333;background-image: -webkit-linear-gradient(left, #AAA, #333, #AAA);background-image:    -moz-linear-gradient(left, #AAA, #333, #AAA);background-image:     -ms-linear-gradient(left, #AAA, #333, #AAA);background-image:      -o-linear-gradient(left, #AAA, #333, #AAA); }
::selection{ color: #c8dd95;background: #596876;}::-moz-selection{ color:#fff;background:orange; }
.sponsors { font-size: 80%;color: #444; }

article h1 {
    font-size: 30px;
    padding-bottom: 0;
    padding-left: 8px;
    margin-bottom: 8px;
}
article p {
    padding-left: 8px;
}
article section {
    margin-bottom: 16px;
}
article ul {
    margin: 16px;
    list-style-type: square;
}
article ul li {
    margin-left: 30px;
    padding: 4px;
}
article ul li a {
    color: #426b2f;
}
article ul li a:hover {
    color: #52a409;
    text-decoration: underline;
}
/* ==================================================
        Header
  ================================================== */
.header {
    background: #448ACA;
    color: #FFF;
}
.header h1 {
    font-size: 46px;
    padding-bottom: 0;
    line-height: 0.6;
}
.header p {
    padding-top:0;
    padding-bottom: 4px;
}
.mainLogo {
    color: transparent;
    text-indent:-9999em;
    line-height: 160px;
    background: url(../images/logo.png) no-repeat 16px center;
    height: 85px;
    width: 353px;
    margin-top: 16px;
}
.headerNote {
    padding-bottom: 16px;
}

/* ============ Navigation ============ */
.topbar {
    color: #FFF;
    background: #1B1B1B;
    height: 60px;
}
.topbar ul {
    list-style-type: none;
    text-align: right;
}
.topbar li {
    display: inline-block;
}
.topbar li a {
    color: #FFF;
    text-align: center;
    width: 120px;
    height: 60px;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-top: 16px;
}
.navNow {
    /*background: #448aca;*/
    background: #444444;
}
.topbar .navLogo {
    padding-top: 16px;
    margin: 0 4px;
}
.topbar .checker {
    display: inline-block;
    text-align: center;
    height: 46px;
    width: 220px;
    padding-top: 14px;
}
.tc-green {background: #79C849;}
.tc-red {background: #CD3D3D;}
.tc-yellow {background: #f0d513;}

.burgerBtn {
    background-color: #333;
    cursor: pointer;
    display: none;
    height: 48px;
    width: 108px;
    margin-top: 3px;
    margin-right: 5px;
    text-align: center;
    padding-top: 8px;
}
/* ============ Browser Checker ============ */
.checkbrowser {
    height: 200px;
    margin-top: 36px;
    margin-bottom: 16px;
}
.checkbrowser h2 {
    font-family: 微軟正黑體, sans-serif;
    line-height: 1.6;
    /*float: right;*/
    /*width: 530px;*/
    width: auto;
    margin-top: 48px;
    padding-top: 48px;
    margin-left: 116px;
}
.cb-green {
    background: url(../images/check.png) no-repeat 16px center #79C849;
}
.cb-red {
    background: url(../images/x.png) no-repeat 16px center #CD3D3D;
}
.cb-yellow {
    background: url(../images/!.png) no-repeat 16px center #f0d513;
}

/* ============ Next Step ============ */
.headerNext {
    margin-top: 26px;
}
.nextGreen {

}
.nextYellow {
    display: none;
}
.nextRed {
    display: none;
}
.social {
    color: transparent;
    text-indent:-9999em;
    width: 128px;
    height: 128px;
    margin-top: 16px;
    margin-bottom: 16px;
}

/* ==================================================
        Browser List Section
  ================================================== */
.browserList {
    padding: 16px 0;
}
.browserBanner {
    color: #FFF;
    text-align: center;
    margin-bottom: 16px;
}
.browserBanner h2 {
    font-size: 56px;
    padding-top: 16px;
}
.browserBanner p {
    font-size: 24px;
}
.chrome {
    background: #1F75FF;
    height: 220px;
    padding-top: 44px;
}
.firefox {
    background: #EC4E22;
    height: 160px;
}
.opera {
    background: #E31111;
    height: 160px;
}

/* ==================================================
        Help Us Section
  ================================================== */
.helpUs {
    background: #d8d8d8;
    color: #111;
}
.identity {
    color: #FFF;
    font-size: 50px;
    height: 140px;
    text-align: center;
    padding-top: 30px;
    margin-top: 16px;
    margin-bottom: 16px;
}
.helpUs .note {
    font-size: 20px;
    line-height: 1;
    padding: 16px;
    text-align: left;
}
.netizen {
    background: #3882C7;
}
.webmaster {
    background: #43AA13;
}
.gamer {
    background: #117e96;
}

/* =============== */
.howto {
    background: #915BC8;
    color: #FFF;
    margin-bottom: 16px;
    min-height: 320px;
}
.howto h2 {
    padding: 16px;
}
.howto p {
    padding: 16px;
}
.howNetizen, .howWebmaster, .howGamer {
    display: none;
}
.howto .social {
    margin-left: 16px;
    margin-bottom: 16px;
}
.fblike {
    background: #B6CCF2;
    color: #1E498F;
    font-size: 32px;
    text-align: center;
    padding-top: 16px;
    width: 640px;
    height: 60px;
    margin: 16px 0 16px 16px;
}
.fblike .note {
    color: #B6CCF2;
}
/* ==================================================
        Footer
  ================================================== */
.footer {
    background: #1b1b1b;
    color: #ccc;
    text-align: center;
    height: 320px;
    padding: 16px;
}
.footer p {
    font-size: 16px;
    padding-bottom: 4px;
}

/* =================================================
        About Page
   ================================================= */
.about p {
    padding-top: 16px;
}
.contact {
    background: #d8d8d8;
}
.contact p {
    padding-top: 16px;
    padding-bottom: 26px;
}
.contact a {
    color: #3f802c;
    border-bottom: 1px dotted #3f802c;
}
/* =================================================
        Why Page
   ================================================= */
.why-ref {
    background: #d8d8d8;
}
.why p {
    padding-top: 16px;
}
.why a {
    color: #3f802c;
    text-decoration: underline;
}

/* =================================================
        Widget Page
   ================================================= */
.widgetSection img {
    cursor: pointer;
    margin: 8px 0 8px 16px;
}
.codeBox {
    background: #e7ffdd;
    box-shadow: 0 0 16px #111;
    -moz-box-shadow: 0 0 16px #000;
    border-top: 30px solid #639248;
    font-family: menlo, consolas, courier new, monospace;
    padding: 16px;
    word-wrap: break-word;
    word-break: break-all;
    width: 600px;
    height: 200px;
    position: fixed;
    margin-left: -300px;
    margin-top: -160px;
    left: 50%;
    top: 50%;
    display: none;
}
a.closeCodeBox {
    background: #C7EECC;
    text-align: center;
    display: block;
    line-height: 1.6;
}
a:hover.closeCodeBox {
    background: #A7DDBB;
}
.widget {
    background: #d8d8d8;
}
.widgetTab {
    cursor: pointer;
    padding: 16px 0 16px 5px;
    margin-top: 16px;
    margin-bottom: 16px;
}
.gamerWidgetTab {
    background: #117e96;
    color: #fff;
}
.gamerWidgetList {
    background: #d8d8d8;
    display: none;
}
.normalWidget1Tab {
    background: #EC4E22;
    color: #FFF;
}
.normalWidget1List {
    background: #d8d8d8;
    display: none;
}
.normalWidget2Tab {
    background: #52a409;
    color: #FFF;
}
.normalWidget2List {
    background: #d8d8d8;
    display: none;
}
/* Chart */
.chart {
    overflow-x: auto; overflow-y: hidden;
}